/* your code here */
*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	color: white;
}
body{
	background-color: black;
}
.top{
	display: flex;
	justify-content: space-between;
}
a{
	text-decoration: none;
	color: white;
}
.media-icons{
	display: flex;
	gap: 10px;
}
.link-boxes{
	display:flex;
	justify-content: space-around;
}
.link-boxes div{
	display: flex;
	flex-direction: column;
	
}
